<header class="header">
  <div class="container d-flex flex-wrap justify-content-between align-items-center">
      <a [routerLink]="'/'" class="header__title header__hover text-decoration-none pr-3">Breaking Bad</a>
    <nav>
      <ul class="list-unstyled d-flex mb-0">
        <li class="pr-3">
          <a class="header__text text-decoration-none" [routerLink]="'/'">Home</a>
        </li>

        <li class="pr-3">
          <a class="header__text text-decoration-none " [routerLink]=searchCharactersRoute>Search characters</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
