.header {
  background-color: #2f5572;

  &__title {
    color: #ffffff;
    font-size: 1.25rem;

    &:hover {
      color: #a09595;
    }
  }
  &__text {
    color: #ffffff;

    &:hover{
      color: #a09595;
    }
  }

  &__is-active {
    color: #a09595;
  }
}
