<form [formGroup]="form" class="form__background">
  <h2>Search Characters</h2>
  <div class="mb-3">
    <p class="text-left pb-0 mb-0">
      <label >Search by Name</label>
    </p>
      <input
        formControlName="searchByName"
        type="text"
        placeholder="Enter Name"
        class="form-control"
        (input)="onChange(form.value)" >
  </div>

  <p-accordion>
    <p-accordionTab header="Advanced search" [selected]="false">
      <div class="mb-3 text-left">
        <p class="pb-0 mb-0">
          <label >Search by Nickname</label>
        </p>
          <input
            formControlName="searchByNickname"
            type="text"
            class="form-control"
            placeholder="Search By Nickname"
            (input)="onChange(form.value)" >
      </div>

      <div class="mb-3 text-left">
        <p class="pb-0 mb-0">
          <label >Search by Show</label>
        </p>

        <div class="d-flex justify-content-center radio__label-margin--0">
          <div class="mr-3 mb-0">
            <p-checkbox
              name="searchByShow"
              [value]="true"
              label="Breaking Bad"
              (click)="onChange(form.value)"
              [formControl]="this.form.get('searchByShow.breakingBad')">
            </p-checkbox>
          </div>

          <div class="mr-3 mb-0">
            <p-checkbox
              name="searchByShow"
              [value]="true"
              label="Better Call Saul"
              (click)="onChange(form.value)"
              [formControl]="this.form.get('searchByShow.betterCallSaul')">
            </p-checkbox>
          </div>
        </div>
      </div>

<!--      <div class="mb-3 text-left">-->
<!--        <p class="pb-0 mb-0">-->
<!--          <label >Search by Profession</label>-->
<!--        </p>-->

<!--        <p-dropdown-->
<!--          (onChange)="onChange(form.value)"-->
<!--          [options]="filteredOccupationsOptions"-->
<!--          formControlName="searchByOccupation">-->
<!--        </p-dropdown>-->
<!--      </div>-->

      <div class="mb-3 text-left">
        <p class="pb-0 mb-0">
          <label >Search by Mortality</label>
        </p>
        <p-dropdown
          [options]="mortalityOptions"
          (onChange)="onChange(form.value)"
          formControlName="searchByRIP">
        </p-dropdown>
      </div>
    </p-accordionTab>
  </p-accordion>

</form>
