<div class="container mt-4">
  <h2 class="home__title">Project overview</h2>
  <p class="home__subtitles">Front-end project 3 page application in Angular.</p>
  <ul class = "list-group">
    <li class = "list-group-item"><strong>Search Characters:</strong> Search for breaking bad characters,
      by name, profession etc.
    </li>

    <li class = "list-group-item"><strong>Styling:</strong> Bootstrap and scss.
    </li>
  </ul>
  <a class="badge badge-primary mt-2 mr-2" href="https://github.com/ArnasDickus/breaking-bad-app"
     target = "_blank"
     rel = 'noopener noreferrer'>Github
  </a>

  <a class="badge badge-primary mt-2" href="https://www.breakingbadapi.com/"
     target = "_blank"
     rel = 'noopener noreferrer'>Api
  </a>
</div>
